// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;

$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Arkangel Ai colors

$yellow: #F6AC1D;
$beige: #FEF7EF;
$light-green: #98B2A8;
$dark-green: #70897F;
$light-blue: #828BA6;
$dark-blue: #666F89;
$salmon: #EAA097;
$pale-pink: #E9D4C4;

$success-green: #64BD73;
$danger-red: #B8222B;

// background
$faded-background: linear-gradient(175.42deg, #FEF7EF 12.36%, rgba(254, 247, 239, 0.982558) 12.37%, rgba(254, 247, 239, 0) 97.51%);

