<div class="content row" style="flex-wrap: nowrap;" id="score_detail">
  <div class="col-xs-2">
    <p class="vital_title pr-3"><%= info[0].capitalize %></p>
  </div>
  <div class="col-xs-2">
    <%= image_tag "#{info[1]}", style:"max-height: 30px;" %>
  </div>
  <div class="col-xs-5">
    <p class="vital_content pl-3"><%= info[2] %></p>
  </div>
</div>

<!-- vitals/2_Energy.png -->
<!--  -->
