
<div class="content row" style="flex-wrap: nowrap;" id="score_detail">
  <div class="col-xs-2">
    <p class="vital_title pr-3">Weight</p>
  </div>
  <div class="col-xs-2">
    <%= image_tag "vitals/2_Weight.png", style:"max-height: 30px;" %>
  </div>
  <div class="col-xs-5">
    <p class="vital_content pl-3"><%= @bmi_message[2] %></p>
  </div>
</div>
