<div class="container d-flex justify-content-between fixed-bottom mb-3">
    <%= image_tag "footer/home_thick.svg", class: "icon" %>
    <%= image_tag "footer/plus.png", class: "icon" %>
    <%= image_tag "footer/user_thick.png", class: "icon" %>
</div>
