<div class="container d-flex justify-content-between fixed-bottom mb-4 footer">
  <%= link_to dashboard_path do %>
    <%= image_tag "footer/home_thick.svg", class: "icon pl-4" %>
  <% end %>
  <%= image_tag "footer/plus.png", class: "icon" %>
  <%= image_tag "footer/user_thick.png", class: "icon pr-4" %>
</div>
