<div class="container mt-5">
  <div class="col-12 text-center ">
    <h2>Fitbit</h2>
  </div>
  <div class="row text-center">
    <div class="col-12 text-center">
      <%= image_tag "apis_Integration/fitbit.svg", class: "api-logo text-center" %>
    </div>
  </div>
  <div class="col-12 text-center ">
    <h6><b>Fitbit</b> (not connected)</h6>
  </div>
  <div class="">
      <p class="m-5 font-weight-lighter text-center" style="line-height: 1">Automatically link your steps & heart rate from your Fitbit band. I can also collect weight & bodyfat if you are using the wireless scale.</p>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Integrate now", dashboard_path(apis_params: true), class:"submit-button d-flex justify-content-center", style:"max-width: 335px; text-decoration: none; color: white;" %>
    <% apis_params = true %>
  </div>
</div>



<%= render "shared/footer" %>
