<div class="container" style="margin-top: 14vh;" >
  <div class="col-12 text-center ">
    <h2>Fitbit</h2>
  </div>
  <div class="row text-center">
    <div class="col-12 text-center">
      <%= image_tag "apis_Integration/fitbit.svg", class: "api-logo text-center" %>
    </div>
  </div>


  <% if current_user.fitbit_access_token.nil? %>

    <div class="col-12 text-center ">
      <h6><b>Fitbit</b> <br>(not connected)</h6>
    </div>
    <div class="">
        <p class="m-5 font-weight-lighter text-center" style="line-height: 1">Automatically link your steps & heart rate from your Fitbit band. I can also collect weight & bodyfat if you are using the wireless scale.</p>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Integrate now", @fitbit_url, class:"submit-button d-flex justify-content-center", style:"max-width: 335px; text-decoration: none; color: white;" %>
      <% apis_params = true %>
    </div>

  <% else %>

    <div class="col-12 text-center ">
      <h6><b>Fitbit</b> <br><span style="color: #3ab952">(connected)</span></h6>
    </div>
    <div class="">
        <p class="m-5 font-weight-lighter text-center" style="line-height: 1">Automatically link your steps & heart rate from your Fitbit band. I can also collect weight & bodyfat if you are using the wireless scale.</p>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Go to dashboard", dashboard_path, class:"submit-button d-flex justify-content-center", style:"max-width: 335px; text-decoration: none; color: white; background-color: #3ab952" %>
      <% apis_params = true %>
    </div>

  <% end %>




</div>



<%= render "shared/footer" %>
