<div class="big_title">
  <div class="container">
    <h3>Your <b>Health Score Calculator</b></h3>
    <div class="score d-flex align-items-end">
      <h2>Your Body</h2>
      <p>Please select your age:</p>
      <input type="radio" name="age" value="30"> 0 - 30<br>
      <input type="radio" name="age" value="60"> 31 - 60<br>
      <input type="radio" name="age" value="100"> 61 - 100<br>
      <p>Please select your gender:</p>
      <input type="radio" name="gender" value="male"> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other

</div>
