<div class="banner">
  <div class="content-banner text-center">
    <h1>Arkangel</h1>
    <p>Your personal health guardian</p>
    <%= link_to "Enroll Now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>






