.banner {
  height: calc(101vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-home");
  background-size: cover;
  margin-top: -70px;


  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }

  h6 {
    font-style: normal;
    padding-top: 25px; 
    font-weight: 200;
    font-size: 10px;
    color: white;
  }

  p {
    color:white;
    opacity: 0.8px;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .btn {
    padding: 15px 50px;
  }

}
