.profile-container{
  display: flex;
  justify-content: center;
      position: relative;
      padding-bottom: 2%;
.profile-landing {
  height: 365px;
 }
}

.side-icons{
  display: flex;
  padding-bottom: 2%;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    position: absolute;
     left: 2%;
     bottom: 0;
     img{
      max-width: 50px;
     max-height: 50px;
  }
  }

.user-title{
margin-left: 2%;
padding: 30px 30px 5px 30px;
font-size: 18px;
}

.dashboard{
      padding-left: 2%;

  .time-toggle{
display: flex;
justify-content: space-between;
padding-bottom: 2%;
}
.stats-display{
padding-top: 2%;
}
}
