<% exercise = (@user_score.physical_activity / 0.5) * 10 %>
<% fruits_vegetables = (@user_score.fruits_vegetables / 4) * 10 %>
<% fibers = (@user_score.whole_grains / 15) * 10 %>
<% fats = (@user_score.fats / 1) * 10 %>
<% red_meat = 10 - @user_score.red_meat * 5 %>
<% processed_meat = 10 - @user_score.processed_meat * 5 %>
<% soda = 10 - @user_score.soda * 3 %>
<% alcohol = 10 - @user_score.alcohol * 3 %>

<% datapoints = [exercise, fruits_vegetables, fibers, fats, red_meat, processed_meat, soda, alcohol] %>

<% display_points = [] %>
<% datapoints.each do |datapoint| %>
  <% if datapoint > 10 %>
    <% display_points << 10 %>
  <% elsif datapoint < 1 %>
    <% display_points << 1 %>
  <% else %>
    <% display_points << datapoint %>
  <% end %>
<% end %>


<%
data = {
  labels: ["Exercise", "Fruits & Vegetables", "Fibers", "Healthy Fats", "Red meat", "Processed meat", "Soda", "Alcohol"],
  datasets: [
    {
        label: "Goal completion",
        backgroundColor: "rgba(246,172,29,0.2)",
        borderColor: "rgba(246,172,29,1)",
        data: display_points
    }
  ]
}
options = { height: 380, scale: {
        ticks: {
          beginAtZero: true,
          max: 10
        }
    }
  }
 %>

<div class="container">
  <h3 class="text-center"><%= Date::ABBR_MONTHNAMES[@user_score.logdate.month] %> <%= @user_score.logdate.day %></h3>
  <div class="graph-card">
    <%= radar_chart data, options %>
  </div>
</div>



<%= render 'shared/footer' %>
<!--
  health_score
  -----bmi .... not relevant
  physical_activity
  fruits_vegetables
  whole_grains
  fats

    bad stuff
  red_meat
  processed_meats
  soda
  alcohol
 -->


