<% exercise = (@user_score.physical_activity / 0.5) * 10 %>
<% fruits_vegetables = (@user_score.fruits_vegetables / 4) * 10 %>
<% fibers = (@user_score.whole_grains / 15) * 10 %>
<% fats = (@user_score.fats / 1) * 10 %>
<% red_meat = 10 - @user_score.red_meat * 5 %>
<% processed_meat = 10 - @user_score.processed_meat * 5 %>
<% soda = 10 - @user_score.soda * 3 %>
<% alcohol = 10 - @user_score.alcohol * 3 %>

<% datapoints = [exercise, fruits_vegetables, fibers, fats, red_meat, processed_meat, soda, alcohol] %>

<% display_points = [] %>
<% datapoints.each do |datapoint| %>
  <% if datapoint > 10 %>
    <% display_points << 10 %>
  <% elsif datapoint < 1 %>
    <% display_points << 1 %>
  <% else %>
    <% display_points << datapoint %>
  <% end %>
<% end %>


<%
data = {
  labels: ["Exercise", "Fruits & Vegetables", "Fibers", "Healthy Fats", "Red meat", "Processed meat", "Soda", "Alcohol"],
  datasets: [
    # {
    #     label: "My First dataset",
    #     backgroundColor: "rgba(220,220,220,0.2)",
    #     borderColor: "rgba(220,220,220,1)",
    #     data: data
    # },
    {
        label: "Positive indicators",
        backgroundColor: "rgba(151,187,205,0.2)",
        borderColor: "rgba(151,187,205,1)",
        data: display_points
    }
  ]
}
options = { scale: {
        ticks: {
          beginAtZero: true,
          max: 10
        }
    }
  }
 %>

<div class="container">
  <%= radar_chart data, options %>
</div>

<!--
  health_score
  -----bmi .... not relevant
  physical_activity
  fruits_vegetables
  whole_grains
  fats

    bad stuff
  red_meat
  processed_meats
  soda
  alcohol
 -->


