
<% sleep_day = @fitbit_score.sleep_score.round * 2.5  %>
<% exercise_day = @fitbit_score.exercise_score.round * 2.5 %>
<% stress_day = @fitbit_score.stress_score.round * 2.5 %>
<% diet_day = @fitbit_score.diet_score.round * 2.5 %>

<% display_points = [sleep_day, diet_day, stress_day, exercise_day] %>

<% display_points.each do |point| %>
  <% if point <= 0 %>
  <% raise %>
    <% point = 0 %>
  <% elsif point > 10 %>
    <% point = 10 %>
  <% end %>
<% end %>


<%
data = {
  labels: %w[Sleep Diet Stress Exercise],
  datasets: [
    {
        label: "Goal completion",
        backgroundColor: "rgba(246,172,29,0.2)",
        borderColor: "rgba(246,172,29,1)",
        data: display_points
    }
  ]
}
options = { maintainAspectRatio: false, height: 500, width: 250, scale: {
        ticks: {
          beginAtZero: true,
          max: 10
        }
    }
  }
 %>

<div class="big_title mb-3">
  <div class="mb-2">
    <a href="javascript:history.back()" style="color: white"><i class="fas fa-chevron-left" style="color: white; font-size: 22px"></i></a>
  </div>

  <div class="container">
    <h3>Health Score Breakdown - <b><%= Date::ABBR_MONTHNAMES[@fitbit_score.logdate.month] %> <%= @fitbit_score.logdate.day %></b></h3>

    <p><em>This chart shows a breakdown of your health score.  </em></p>

  </div>
</div>


<div class="container">
<!--   <h3 class="text-center"><%#= Date::ABBR_MONTHNAMES[@user_score.logdate.month] %> <%#= @user_score.logdate.day %></h3> -->

  <div class="graph-card">

      <%= polar_area_chart data, options %>

  </div>
</div>


<%= render 'shared/footer' %>



