<div class="big_title">
  <div class="container">
    <h3>Your <b>Health Score Calculator</b></h3>
    </div>
  </div>
</div>

<form action="">
<div class="container">
  <h4>Your Age</h4>
  <div class="form-group">
    <select class="custom-select" required>
      <option value="">Select Age Range</option>
      <option value="1">0-30</option>
      <option value="2">31-60</option>
      <option value="3">61-100</option>
    </select>
    <h4>Gender</h4>
    <select class="custom-select" required>
      <option value="">Select Gender</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
    <h4>Calculate your BMI</h4>
    <h5>Height</h5>
    <select class="custom-select" required>
      <option value="">Select Height</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
    <h5>Weight</h5>
    <select class="custom-select" required>
      <option value="">Select Weight</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
    <button type="button" class="btn btn-primary">Calculate Your BMI</button>

    <h5>Smoker</h5>
    <select class="custom-select" required>
      <option value="">Select Status</option>
      <option value="1">Never</option>
      <option value="2">Former</option>
      <option value="3">Currently</option>
    </select>
    <h5>Physical Activity</h5>
    <select class="custom-select" required>
      <option value="">Select Number of hour per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
        <h4>Food Intake</h4>
        <h5>Fruits & Vegetables</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
    <h5>Nuts</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
    <h5>Red Meat</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
    <h5>Sugary Drinks</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
    <h5>Fiber</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>
    <h5>Alchohol</h5>
    <select class="custom-select" required>
      <option value="">Select Quantity per week</option>
      <option value="1">0-3</option>
      <option value="2">4-7</option>
      <option value="3">7 and more</option>
    </select>

    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
