<% data = {
  labels: @dates,
  datasets: [
    {
        label: "Health score",
        backgroundColor: "rgba(151,187,205,0.2)",
        borderColor: "rgba(151,187,205,1)",
        data: @health_score
    }
  ]
}
options = { height: 250, #onClick:"function(){
#window.location.replace('#{root}');
    }#" }
 %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Show my breakdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <li> <%= link_to "Weekly", graph_path(date: "Weekly") %> </li>
   <li> <%= link_to "Monthly", graph_path(date: "Monthly") %> </li>
   <li> <%= link_to "All history", graph_path(date: "All history") %> </li>

  </div>
</div>



<div class="container">
  <%= line_chart data, options %>
</div>
