<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Show my breakdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Daily</a>
    <a class="dropdown-item" href="#">Weekly</a>
    <a class="dropdown-item" href="#">Monthly</a>
  </div>
</div>
