<div class="prompt">
<%= image_tag "Logo_PNG.png" %>
<p> What would you like to report, <%= @user.first_name %> ?</p>
</div>





<div class="icon-container">

<div>

</div>

<div>

</div>

<div>

</div>

<div>

</div>

<div>

</div>



</div>
